Tests/Service References/WCFOrdersService/OrdersService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://epam.com/OrdersService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://epam.com/OrdersService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://epam.com/OrdersService/Imports">
      <xsd:import schemaLocation="http://localhost:40000/OrdersService?xsd=xsd0" namespace="http://epam.com/OrdersService" />
      <xsd:import schemaLocation="http://localhost:40000/OrdersService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrdersService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IOrdersService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdersService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IOrdersService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrdersService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://epam.com/OrdersService/IOrdersService/GetAll" message="tns:IOrdersService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://epam.com/OrdersService/IOrdersService/GetAllResponse" message="tns:IOrdersService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://epam.com/OrdersService/IOrdersService/GetById" message="tns:IOrdersService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://epam.com/OrdersService/IOrdersService/GetByIdResponse" message="tns:IOrdersService_GetById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>