Tests/Service References/OrdersService/OrdersService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://epam.com/OrdersService" elementFormDefault="qualified" targetNamespace="http://epam.com/OrdersService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40000/OrdersService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DAL.Entities" />
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DAL.Entities" minOccurs="0" name="GetAllResult" nillable="true" type="q1:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>